{% extends 'base.html.twig' %}

{% block title %}New Expenses{% endblock %}

{% block body %}
    <h1>Create new Expenses</h1>

    {{ include('expenses/_form.html.twig') }}

    <a href="{{ path('app_expenses_index') }}">back to list</a>
{% endblock %}
